[submodule "tools/MapEditor"]
	path = tools/MapEditor
	url = https://github.com/splatterlinge/MapEditor.git
[submodule "tools/Converter"]
	path = tools/Converter
	url = https://github.com/splatterlinge/Converter.git
